/** global **/
body{
    background-color: lightblue;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/** Utilities **/
.registerbanner{
    background-image: url(/img/CatBanner.jpg);
    background-position-y: 2%;
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}

nav{
    margin-top: auto;
    margin-right: 10%;
}
.registerbanner a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: orange;
}

/** body **/
.pageTitle{
    margin-top: auto;
    margin-bottom: 2px;
    text-decoration: underline;
    font-size: 54px;
}
.waitList{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-left: 10rem;
}
.waitList p{
    font-size: 36px;
    text-decoration: underline;
}
.petInfo{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
}
.petSpecifics{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 24px;
}
.petSpecifics li{
    padding: 2px;
}
/** Register Form **/

.input-control{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
    font-size: 18px;

}
.input-control input{
    width: 80%;
    padding: 3px;
    border: none;

}
.input-control label{
    display: block;
    width: 20%;
    text-align: right;
    margin-right: 10px;
}
.input-control select{
    width: 80%;
    padding: 3px;
    border: none;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    margin:0 1rem ;
}
.btn-register{
    font-size: 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.petBlock{
    border: 2px solid black;
    border-radius: 5px;
    list-style: none;
    margin-right: 15%;
    margin-bottom: 2rem;
}