/**global**/
body{
    background-color: lightblue;
}
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/**Utilities**/
.servicesbanner{
    background-image: url(/img/BirdBanner.jpg);
    background-position-y: 1%;
    height: 250px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.servicesbanner h1{
    font-size: 54px;
    text-decoration: underline;
}
nav{
    margin-top: auto;
    margin-right: 10%;
}
.servicesbanner a{
    text-decoration: none;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    background-color: orange;

}
/** Header **/
.pageTitle{
    margin-top: auto;
    margin-bottom: 2px;
    text-decoration: underline;
    font-size: 54px;
}

/**Body**/
.serviceList{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 2rem;
}

/**Form**/
.servicesInfo{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 1rem;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1rem;
}
.input-control{
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    align-items: center;
    font-size: 18px;

}
.input-control input{
    width: 80%;
    padding: 3px;
    border: none;

}
.input-control textarea{
    width: 80%;
    padding: 3px;
    border: none;

}
.input-control label{
    display: block;
    width: 20%;
    text-align: right;
    margin-right: 10px;
}
.input-control select{
    width: 80%;
    padding: 3px;
    border: none;
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    margin:0 1rem ;
}
.btn-register{
    font-size: 24px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}